
export GH_USER="yourgithubuser"
export GH_TOKEN="ghp_xxxxxxxxxxxxxxxxx"
export FORGEJO_URL="https://git.example.com"
export FORGEJO_USER="yourforgejouser"
export FORGEJO_TOKEN="xxxxxxxxxxxxx"

export MIRROR_PRIVATE="false"
export MIRROR_INTERVAL="480m"
export ORG_VISIBILITY="public"
export ORG_WHITELIST=""
